{% extends 'base1.html' %}<!--наследуем всё из родительского файла base1.html-->
{% block title%}Education and Training Network{% endblock %}
{% block content %}
    <div class="leadspase">
        <div class="content">
            <h2></h2>
        </div>
    </div><!-- AND LEADSPACE -->
    <div class="content group">
        <div class="welcome">
            <h2> Ваше сообщение отправлено!  </h2>

        </div>

        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
    </div><!-- AND CONTENT -->
    <!--<script>
        document.getElementById('testbtn').onclick = function() {
            location.href = '/tests';
        }
    </script>-->

{% endblock %}



