{% extends 'base1.html' %}<!--наследуем всё из родительского файла base1.html-->
{% block title%}Education and Training Network{% endblock %}
{% block content %}
    <div class="leadspase">
        <div class="content">
            <h2></h2>
        </div>
    </div><!-- AND LEADSPACE -->
    <div class="content group">
        <div class="welcome">
            <h2> Произошла ошибка. Попробуйте отправить Ваше сообщени ещё раз </h2>

        </div>

        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
    </div><!-- AND CONTENT -->

{% endblock %}



