{% extends 'base1.html' %}<!--наследуем всё из родительского файла base1.html-->
{% block title%}How long to learn{% endblock %}
{% block content %}
<div class="empty"></div>
 <div class="content group">
 <!--<div class="welcome">-->
<style>
   ul.hr {
    margin-left: 900px; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
    }
  </style>
<div>
    <ul class="hr">
        <li> <a href="/how_long_to_learn"> EN </a> </li>
         <li> <a href="/how_long_to_learn_ru"> RU </a> </li>
  </ul>
</div>
           <div class="articles">
            <h2>КАК ДОЛГО НУЖНО ИЗУЧАТЬ АНГЛИЙСКИЙ ЯЗЫК?</h2>
            <p>Исследования показывают, что каждый последующий уровень языка занимает приблизительно в 2 раза больше времени, чем предыдущий.</p>
            <p>Обычно, тяжело начинать, то есть, тяжело осваивать уровень А1. Затем у обучающегося создаётся база для понимания того, как устроен язык, и учёба продвигается быстрее, и становится явным и очевидным появление навыков практического использования языка – это соответствует уровням А2 или В1. Затем наступает этап, когда, кажется, что не происходит никакого прогресса. Это нормально, так как самое сложное – это перейти от среднего уровня языка к продвинутому. Здесь нужна особо трудоёмкая и кропотливая работа, чтобы перейти к уровням B2, С1 и С2.</p>
            <p>Скорость изучения языка зависит от нескольких факторов:</p>
            <ul>
                <li>Ваш общий образовательный уровень</li>
                <li>Правильно подобранный учебный материал</li>
                <li>Интенсивность занятий</li>
                <li>Ваши природные языковые способности</li>
            </ul>
            <p>Трудно сказать, в какой приоритетной последовательности нужно выстраивать эти факторы. Они все важны, наверное, в равной степени.</p>
            <p>В таблице ниже указывается, сколько часов Вам, возможно, придется потратить, чтобы перейти от более низкого уровня на более высокий, но помните, что эти цифры предназначены, лишь, как ориентир. Вам можете потребоваться больше или меньше времени.</p>
            <p>Эта таблица отражает приблизительное количество часов обучения для каждого уровня сложности под контролем преподавателя(ей) или какой-либо образовательной среды.</p>
            <table>
                <col width="500px">
                <tr><th>Уровень языка</th><th>Количество часов на освоение</th></tr>
                <tr><td>A1 (начинающий)</td><td>100 – 120</td></tr>
                <tr><td>A2 (приближающийся к среднему)</td><td>180 – 200</td></tr>
                <tr><td>B1 (ниже среднего)</td><td>350 – 400</td></tr>
                <tr><td>B2 (выше среднего)</td><td>500 – 600</td></tr>
                <tr><td>C1 (ниже продвинутого)</td><td>700 – 800</td></tr>
                <tr><td>C2 (высококвалифицированный)</td><td>1000 – 1200</td></tr>
            </table>
            <p>Следующая таблица составлена на основе общеевропейских компетенций владения иностранным языком (Common European Framework of Reference, CEFR — система для оценивания достижений учащихся в освоении иностранных языков, используемая в <span>Европейском Союзе</span>).</p>
            <table>
                <col width="150px">
                <tr><th>Уровень CEFR</th><th>Экзамен Cambridge</th><th>Количество часов на освоение</th></tr>
                <tr><td>A2</td><td>Cambridge English: Key (KET)</td><td>180 – 200</td></tr>
                <tr><td>B1</td><td>Cambridge English: Preliminary (PET)</td><td>350 – 400</td></tr>
                <tr><td>B2</td><td>Cambridge English: First (FCE)</td><td>500 – 600</td></tr>
                <tr><td>C1</td><td>Cambridge English: Advanced (CAE)</td><td>700 – 800</td></tr>
                <tr><td>C2</td><td>Cambridge English: Proficiency (CPE)</td><td>1,000 – 1,200</td></tr>
            </table>
            </div><!-- AND ARTICLE 6 -->
    </div><!-- AND CONTENT -->
 <!--</div>< AND CONTENT -->

{% endblock %}



